name: Maven CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./hello-module
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Spotless apply
        run: ./mvnw -B -ntp spotless:apply

      - name: Build and verify
        run: ./mvnw -B -ntp verify
